@model IEnumerable<MyStore.Models.ThongKeTheoLoaiVM>

@{
    ViewData["Title"] = "ThongKe";
}

<h1>Thống kê doanh thu</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Loai)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DoanhThu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SoLuongBan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GiaCaoNhat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GiaThapNhat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GiaTrungBinh)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Loai)
                </td>
                <td>
                    @item.DoanhThu.ToString("#0.00")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SoLuongBan)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GiaCaoNhat)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GiaThapNhat)
                </td>
                <td>
                    @item.GiaTrungBinh.ToString("#0.00")
                </td>
            </tr>
        }
    </tbody>
</table>
@{
    var loaiLabels = Model.Select(p => p.Loai).ToList();
    var loaiLabelsJs = "['" + string.Join("', '", loaiLabels) + "']";
    var doanhThus = Model.Select(p => p.DoanhThu).ToList();
    var doanhThusJs = "[" + string.Join(", ", doanhThus) + "]";
}
@loaiLabelsJs
<canvas id="bar-chart" width="800" height="450"></canvas>

@section Scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>

    <script>
        new Chart(document.getElementById("bar-chart"), {
            type: 'bar',
            data: {
                labels: @Html.Raw(loaiLabelsJs),
                datasets: [
                    {
                        label: "Doanh thu",
                        backgroundColor: ["#3e95cd", "#8e5ea2", "#3cba9f", "#e8c3b9", "#c45850"],
                        data: @Html.Raw(doanhThusJs)
                    }
                ]
            },
            options: {
                legend: { display: false },
                title: {
                    display: true,
                    text: 'Doanh thu theo loại'
                }
            }
        });
    </script>
    @*
    <script src="https://cdnjs.com/libraries/Chart.js"></script>

    <script>
        const config = {
            type: 'bar',
            data: data,
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            },
        };
        const labels = Utils.months({ count: 7 });
        const data = {
            labels: labels,
            datasets: [{
                label: 'My First Dataset',
                data: [65, 59, 80, 81, 56, 55, 40],
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(255, 159, 64, 0.2)',
                    'rgba(255, 205, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(201, 203, 207, 0.2)'
                ],
                borderColor: [
                    'rgb(255, 99, 132)',
                    'rgb(255, 159, 64)',
                    'rgb(255, 205, 86)',
                    'rgb(75, 192, 192)',
                    'rgb(54, 162, 235)',
                    'rgb(153, 102, 255)',
                    'rgb(201, 203, 207)'
                ],
                borderWidth: 1
            }]*@
    </script>
}