@model IEnumerable<MyStore.Models.ThongKeTheoLoaiVM>

@{
    ViewData["Title"] = "ThongKe";
}

<h1>Thống kê doanh thu</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Loai)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DoanhThu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SoLuongBan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GiaCaoNhat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GiaThapNhat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GiaTrungBinh)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Loai)
                </td>
                <td>
                    @item.DoanhThu.ToString("#0.00")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SoLuongBan)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GiaCaoNhat)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GiaThapNhat)
                </td>
                <td>
                    @item.GiaTrungBinh.ToString("#0.00")
                </td>
            </tr>
        }
    </tbody>
</table>
